@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #667eea 0%, #82b2d1 100%) fixed;
  color: #fff;
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}
